body{
   
    margin: 0;
}
.map{
    margin:0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh;
    background-image: url("../images/images.jpeg");
   background-repeat: repeat;
    
}
