body{
    margin:0;
    background-color: #353542;
    overflow: hidden;
    background-image: url('backgroundimage.jpg'); 
    background-size: cover; 
    background-position: center; 
}
h2{
    padding-top: 30px;
}


  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  .play-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 24px;
    color: white;
    background-color: #61dafb;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}
